<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="base_url" value="http://automationpractice.com/index.php"/>
    <add key="shoppingcart_url" value="http://automationpractice.com/index.php?controller=order"/>
    <add key="login_url" value="http://automationpractice.com/index.php?controller=authentication&amp;back=my-account"/>
  </appSettings>
</configuration>